   <nav class="navbar navbar-static-top navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">
        <span class="ion-pricetags"></span> GiveMeThatThing.com
        </a><!-- Nav-header-->
    </div>
      <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true">
        <ul class="nav navbar-nav navbar-right">
            <li><a a href="#woot">Woot</a></li>
            <li><a a href="#/#dealgenius">DealGenius</a></li>
            <li><a a href="#/#ebay">Ebay</a></li>
            <li><a a href="#/#amazon">Amazon</a></li>
            <li><a a href="#/#yugster">Yugster</a></li>
            <li><a a href="home" ng-click="nav.logout()">Logout</a></li>
            <ul class="dropdown-menu">
                <li><a a href="#woot">Woot</a></li>
                <li><a a href="#dealgenius">DealGenius</a></li>
                <li><a a href="#dealgenius">Ebay</a></li>
                <li><a a href="#dealgenius">Amazon</a></li>
                <li><a a href="#dealgenius">Yugster</a></li>
                <li><a a href="home" ng-click="nav.logout()">Logout</a></li>
            </ul>
        </ul>
      </div><!-- /.navbar-collapse -->
</nav>
	<section class='login'>
		<a href='#' ng-click='main.fbLogin()' class='btn'>
    			<i class="ion-social-facebook"></i>
				sign up to customize deals shown</a>
	</section><!--login-->
    <div>
       <section id='woot' class='dealsite'>
               <h3 class='sitehead'>WOOT</h3>
                <div class="site product text-center">
                    <img class="img-responsive" ng-src="{{main.wootData.image.src}}" alt="{{}}">
                    <p class="price">{{main.wootData.price.text}}</p>
                    <p class="retail"><del>{{main.wootData.retail.text}}</del></p>    
                    <h3>{{main.wootData.title.text}}</h3>
                    <p class="condition">{{main.wootData.condition.text}}</p>
                    <a href="{{main.wootData.collection1[0].price.href}}" class=" btn btn-hollow">GIMME THAT THING</a>
                </div>
                <div class="site product text-center">
                    <img class="img-responsive" ng-src="{{main.wootShirtData.image.src}}" alt="{{}}">
                    <p class="price">{{main.wootShirtData.price.text}}</p>
                    <h3>{{main.wootShirtData.title.text}}</h3>
                    <p class="condition">{{main.wootShirtData.condition.text}}</p>
                    <a href="{{main.wootShirtData.price.href}}" class=" btn btn-hollow">GIMME THAT THING</a>
                </div>
                <div class="site product text-center">

                    <img class="img-responsive" ng-src="{{main.wootElectronicsData.image.src}}" alt="{{}}">
                    <p class="price">{{main.wootElectronicsData.price.text}}</p>
                    <p class="retail"><del>{{main.wootElectronicsData.retail.text}}</del></p>    
                    <h3>{{main.wootElectronicsData.title.text}}</h3>
                    <p class="condition">{{main.wootElectronicsData.condition.text}}</p>
                    <a href="{{main.wootElectronicsData.price.href}}" class=" btn btn-hollow">GIMME THAT THING</a>
                 </div>
                <div class="site product text-center">
                    <img class="img-responsive" ng-src="{{main.wootHomeData.image.src}}" alt="{{}}">
                    <p class="price">{{main.wootHomeData.price.text}}</p>
                    <p class="retail"><del>{{main.wootHomeData.retail.text}}</del></p>
                    <h3>{{main.wootHomeData.title.text}}</h3>
                    <p class="condition">{{main.wootHomeData.condition.text}}</p>
                    <a href="{{main.wootHomeData.price.href}}" class=" btn btn-hollow">GIMME THAT THING</a>
                </div>
	   </section><!--woot-->
	
        <section id ='dealgenius' class='dealsite'>
                <h3 class='sitehead'>Deal Genious</h3>    
            <div class="site product text-center">
                <img class="img-responsive" ng-src="{{main.dealgeniusData.image.src}}">
                <p class="price">{{main.dealgeniusData.price}}</p>    
                <p class="retail"><del>{{main.dealgeniusData.retail}}</del></p>    
                <h3>{{main.dealgeniusData.title}}</h3>
                <p class="condition">{{main.dealgeniusData.condition.text}}</p>
                <a href="{{main.dealgeniusData.collection1[0].price.href}}" class=" btn btn-hollow">GIMME THAT THING</a>
            </div>
	   </section><!--dealgenius-->
   <section id ='ebay' class='dealsite'>
                <h3 class='sitehead'>Ebay Daily Deals</h3>    
            <div class="site product text-center">
                <img class="img-responsive" ng-src="{{main.ebayData.image.src}}">
                <p class="price">{{main.ebayData.price}}</p>
                <p class="retail"><del>{{main.ebayData.retail}}</del></p>    
                <h3>{{main.ebayData.title.text}}</h3>
                <p class="condition">{{main.ebayData.condition.text}}</p>
                <a href="{{main.ebayData.collection1[0].price.href}}" class=" btn btn-hollow">GIMME THAT THING</a>
            </div>
	   </section><!--ebay-->
  
       <section id ='amazon' class='dealsite'>
                <h3 class='sitehead'>Amazon</h3>    
            <div class="site product text-center">
                <img class="img-responsive" ng-src="{{main.amazonData.image.src}}">
                <p class="price">{{main.amazonData.price}}</p>
                <p class="retail"><del>{{main.amazonData.retail}}</del></p>    
                <h3>{{main.amazonData.title}}</h3>
                <p class="condition">{{main.amazonData.condition.text}}</p>
                <a href="{{main.amazonData.price.href}}" class=" btn btn-hollow">GIMME THAT THING</a>
            </div>
	   </section><!--ebay-->
	    <section id ='yugster' class='dealsite'>
                <h3 class='sitehead'>Yugster</h3>    
            <div class="site product text-center">
                <img class="img-responsive" ng-src="{{main.yugsterData.image.src}}">
                <p class="price">{{main.yugsterData.price}}</p>
                <p class="retail"><del>{{main.yugsterData.retail}}</del></p>    
                <h3>{{main.yugsterData.title}}</h3>
                <p class="condition">{{main.yugsterData.condition.text}}</p>
                <a href="{{main.yugsterData.price.href}}" class=" btn btn-hollow">GIMME THAT THING</a>
            </div>
	   </section><!--ebay-->	   	   
</div>
<footer id="footer">
   <div class="container">
    <p>copywrite John & Jon</p>
    </div>
</footer>
