$red-primary:#e9004e;
$red-secondary:#c00040;
.header {
    background-color: $red-primary;
    padding: 4em;
    i {
        font-size: 4em;
    }
    h1 {
        color: #fff;
    }
    h4 {
        color: #fff;
    }
}

.site {
    a {
        color: $red-secondary;
    }
}

// injector
// endinjector