 <nav ng-controller="NavbarController as nav" class="navbar navbar-static-top navbar-default" role="navigation">

    <div class="navbar-header">

        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="#">
        <span class="ion-pricetags"></span> GiveMeThatThing.com
        </a><!-- Nav-header-->
    </div>
      <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true">
        <ul class="nav navbar-nav navbar-right">
            <li><a ui-sref="#woot">Woot</a></li>
            <li><a ui-sref="#steepcheap">Steep & Cheap</a></li>
            <li><a ui-sref="#dealgenius">DealGenius</a></li>
            <li><a ui-sref="home" ng-click="nav.logout()">Logout</a></li>
            <ul class="dropdown-menu">
                <li><a ui-sref="#woot">Woot</a></li>
                <li><a ui-sref="#steepcheap">Steep & Cheap</a></li>
                <li><a ui-sref="#dealgenius">DealGenius</a></li>
                <li><a ui-sref="home" ng-click="nav.logout()">Logout</a></li>
            </ul>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>